body {
    background-color: aliceblue;
}
article {
    border: 3px solid brown;
    margin: 5px;
    padding: 10px;
}
div {
    border: 5px solid cornflowerblue;
    margin: 30px;
    padding: 5px;
    text-align: center;
} 
p{
    border: 2px dashed hotpink;
}