.img1 {
    width: 20%;
    float: right;
}

.img2 {
    width: 20%;
    float: left;
}

.img3 {
    width: 20%;
    float: none;
}

.p1{
    clear: left;
}

.p2{
    clear: right;
}

.p3{
    clear: none;
}